[submodule "vendor/nix-remote-rust"]
	path = vendor/nix-remote-rust
	url = https://github.com/tweag/nix-remote-rust.git
	branch = main
[submodule "vendor/tvix"]
	path = vendor/tvix
	url = https://cl.tvl.fyi/depot
	branch = canon
